doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
  body
    h1= title
    div(class='links')
      ul(class='list-group')
        li(class='list-group-item list-group-item-dark')
          a(href='/') Home
        li(class='list-group-item list-group-item-dark')
          a(href='/pages/about') About
        li(class='list-group-item list-group-item-dark')
          a( href='/pages/projects') Projects
        li(class='list-group-item list-group-item-dark')
          a(href='/pages/services') Services
        li(class='list-group-item list-group-item-dark')
          a(href='/pages/contact') Contact
    block content