extends layout

block content
    div(class='pageContents')
      if (page.title === 'Contact Tim')
        p= page.content
        p email: #{page.email}
        p phone: #{page.phone}
      else
        p= page.content