body {
  background-image: url("../images/skyocean.jpg");
  background-position: center;
  padding: 50px;
/*  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

.container{
  padding: 50px;
}

div.links {
  width: 125px;
  float: left;
}
/*.pageContents {
  color: 
}*/

.pageHeader, .homeHeader, .pageContents{
  background-color: rgba(49, 119, 190, 0.7);
  float: left;
  margin-left: 1rem;
  padding: 10px;
  font-weight: 400 !important;
}

a {
  color: black !important;
  display: block;
  font-weight: 400;
}

h1 {
  background-color: rgba(49, 119, 190, 0.7);
  margin-bottom: 3rem !important;
  padding: .75rem 1.25rem !important;
}

p {

}

